<%- include("header") -%>

<h1><%= now %></h1>
<h1>About this page</h1>
<p>In the land of mercy and the time of magic a destiny of a great kingdom rest on the 
    sholder of a young boy his name is merline
</p>

<%- include("footer") -%>